<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
        <link rel="stylesheet" href="/css/create.css">
    </head>
    <body>
        <%- include ../partials/nav %>
        <div class="container text-center">
            <h1>New Comment on <%= restaurant.name%></h1>
            <form action="/restaurants/<%= restaurant._id %>/comments" method="POST">
                <div class="form-group">
                    <div class="formCenter">
                        <label for="comment">Comment</label>
                        <textarea rows="5" class="form-control" id="comment" name="comment[text]" placeholder="Comment"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="formCenter">
                        <button type="submit" class="btn btn-primary form-control">Submit</button>
                    </div>
                </div>
            </form>            
        </div>
        <%- include ../partials/footer %>
    </body>
</html>