<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
        <link rel="stylesheet" href="/css/detail.css">
    </head>
    <body>
        <%- include ../partials/nav %>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="list-group">
                        <a href="#images" class="list-group-item list-group-item-action">Images</a>
                        <a href="#price" class="list-group-item list-group-item-action">Price</a>
                        <a href="#comments" class="list-group-item list-group-item-action">Comments</a>
                    </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                    <div class="thumbnail" id="images">
                        <img class="img-responsive" src="<%= restaurant.image %>" >
                        <div class="caption-full" id="price">
                            <h4 class="float-right">$<%= restaurant.price %>/person</h4>
                            <h4><a><%=restaurant.name%></a></h4>
                            <p><%= restaurant.description %></p>
                            <p class="text-right">
                                <em>Submitted By <strong><%= restaurant.author.username %></strong></em>
                            </p>
                            <% if(currentUser && restaurant.author.id && restaurant.author.id.equals(currentUser._id)){ %>
                            <div class="text-right">
                                <a class="btn btn-xs btn-warning" href="/restaurants/<%= restaurant._id %>/update">Edit</a>
                                <form id="delete-form" action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                            </div>
                            <% }%>
                        </div>
                    </div>
                    <div class="well" id="comments">
                        <div class="text-right">
                            <a class="btn btn-success" href="/restaurants/<%= restaurant._id %>/comments/new">Add New Comment</a>
                        </div>
                        <hr>
                        <% restaurant.comments.forEach(function(comment){ %>
                            <div>
                                <div>
                                    <p class="comments-messages">
                                        <%= comment.text %> 
                                    </p>
                                    <em>- Submitted By <strong><%= comment.author.username %></strong></em>
                                    <span class="float-right">10 days ago</span>
                                    
                                <% if(currentUser && comment.author.id && comment.author.id.equals(currentUser._id)){ %>
                                <div class="text-right">
                                    <a class="btn btn-xs btn-warning" 
                                       href="/restaurants/<%=restaurant._id %>/comments/<%=comment._id %>/update">Edit</a>
                                    <form id="delete-form" action="/restaurants/<%=restaurant._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                    </form>
                                </div>
                                <hr>
                                <% } %>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <%- include ../partials/footer %>
    </body>
</html>