<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div>
                <h1><%=restaurant.name %></h1>
                <h2><%=restaurant.price %></h2>
                <img src=<%=restaurant.image %>></img>
                <p><%=restaurant.description %></p>
                <a href="/restaurants/<%= restaurant._id%>/update">edit</a>
                <form action="/restaurants/<%= restaurant._id%>?_method=DELETE" method=POST>
                    <button>Delete</button>
                </form>
                <ul>
                <% restaurant.comments.forEach(function(comment) { %>
                    <li>
                        <%= comment.text %> - <%= comment.author.username%> 
                        <a href="/restaurants/<%= restaurant._id%>/comments/<%=comment._id%>/update">edit</a>
                        <form action="/restaurants/<%= restaurant._id%>/comments/<%=comment._id%>?_method=DELETE" method=POST>
                            <button>Delete</button>
                        </form>
                        </li>
                <% }); %>
                </ul>
        </div>
    </body>
</html>