<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
    </head>
    <body>
        <%- include ../partials/nav %>
        <% restaurants.forEach(function(restaurant) { %>
        <div>
                <h1><%=restaurant.name %></h1>
                <h2><%=restaurant.price %></h2>
                <img src=<%=restaurant.image %>></img>
                <a href="/restaurants/<%= restaurant._id %>">More Info</a>
        </div>
        <% }); %>
    </body>
</html>